<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cafe & Wifi API</title>
    <!-- Include Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Welcome to Friendly Cafe</h1>
          <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="row">
        {% for cafe in cafes_dict %}
        <div class="col-sm-4 py-5">
          <div class="card shadow-sm">
            <img src="{{cafe.img_url}}" alt="Cafe Img" width=full height=255px>
            <div class="card-body">
              <h4>{{cafe.name}}</h4>
              <h5>Seats: {{cafe.seats}}</h5>
              <h6>Sockets Available: {% if cafe.has_sockets %} Yes {% else %} No {% endif %}</h6>
              <h6> Wifi   Available: {% if cafe.has_wifi %} Yes {% else %} No {% endif %}</h6>
              <h6>Public  Toilets: {% if cafe.has_toilets %} Yes {% else %} No {% endif %}</h6>
              <h6>Calls   Allow: {% if cafe.can_take_calls %} Yes {% else %} No {% endif %}</h6>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                    Price
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >
                  {{cafe.coffee_price}}
                  </button>
                </div>
                <div>
                  <small class="text-body-secondary">
                      <a href="{{cafe.map_url}}" class="btn btn-primary">{{cafe.location}}</a>
                  </small>
              </div>
              
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
